.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

body {
  max-width: 1200px;
  font-size: 18px;
  padding: 0;
  margin: 0 auto !important;
}

h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 300px;
  color: #0084ff;
  border-bottom: 3px solid #b4daff;
}

.entrada {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #0084ff;
}

.entrada:focus {
  border-bottom: 2px solid #b4daff;
}

.form {
  width: 1200px;
  height: 420px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #0084ff;
}
.button {
  float: right;
  padding: 0.1rem;
  border-radius: 5px;
  margin: 0px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #0084ff;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #b4daff;
  color: rgb(0, 0, 0);
}

body {
  background-color: #e7ffff;
}

textarea {
  font-size: 18px;
}

p {
  white-space: pre-wrap;
}
