/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 1200px;
  height: 520px;
  margin: 0 auto;
  max-width: calc(100vw - 40px);
  margin-top: calc(100vh - 85vh - 20px);
  background: #e7ffff;
  border-radius: 4px;
  padding: 20px;
  /* border: 1px solid #999; */
  /* overflow: auto; */
}
.button {
  width: 100px;
  float: right;
  padding: 0.1rem;
  border-radius: 5px;
  margin: 8px 1 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #0084ff;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #b4daff;
  color: rgb(0, 0, 0);
}